/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--red: #FF5856;
--yellow: #FFD036;
--blue: #3651AB;
--black: #020202;
}

/* Corpo da página */
body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: var(--black);
  color: #fdfdfd; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper{
  height: 100vh;
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho */
header {
  background-color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: var(--black);
  font-weight: 500;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: white; 
}

.main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.retangulos{
  --tam-blocos: 100px;
  position: absolute;
  height: var(--tam-blocos);
  width: var(--tam-blocos);
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .retangulos{
    --tam-blocos: 50px;
  }
}

.retangulos:first-child{
  top: 0;
  left: 0;
}

.retangulos:last-child{
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.retangulos div{
  width: calc(var(--tam-blocos) / 2);
  height: calc(var(--tam-blocos) / 2);
}

.retangulos div:nth-child(1){
  background: var(--red);
}

.retangulos div:nth-child(2){
  background: var(--blue);
}
.retangulos div:nth-child(3){
  background: var(--yellow);
}

#info-titulo{
    text-align: center;
    color: white; 
  }

#reader {
    /* width:500px; */
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    border: 2px solid #092653;
    border-radius: 8px;
    overflow: hidden;
  }

  #info-qr {
    text-align: center;
    margin-top: 1rem;
    color: white; 
  }

/* #instrucao {
  margin-top: 10px;
  color: #93C5FD; 
} */

/* Rodapé */
footer {
  background-color: white; 
  text-align: center;
  padding: 1rem;
}

footer p {
  color: #fdfdfd; 
  font-size: 0.9em;
}

footer img{
  max-width: 100%;
}
